@tailwind base;
@tailwind components;
@tailwind utilities;




.navBar_is_clicked{
    @apply top-[80px] left-0  h-[300px]  p-6 bg-gray-300 text-black;
}

/* .box_wrapper{
    display: grid;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    grid-template-columns: repeat(3, 250px);
}
*/

.box{
    border: 2px solid #fcc6c6;
    width: 300px;
    border-radius: 20px;
    padding: 5px;
    background: #e4edec;
    
    /* #bae3e9;*/
}  


.box:hover{
  scale: 1.1;
}


/* The infinit swiper */
.scroller[data-animated="true"] {
    overflow: hidden;
    -webkit-mask: linear-gradient(
      90deg,
      transparent,
      white 20%,
      white 80%,
      transparent
    );
    mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
  }
  
  .scroller[data-animated="true"] .scroller__inner {
    width: 200px;
    flex-wrap: nowrap;
    animation: scroll var(--_animation-duration, infinite)
      var(--_animation-direction, forwards) linear infinite;
  }
  
  .scroller[data-direction="right"] {
    --_animation-direction: reverse;
  }
  
  .scroller[data-direction="left"] {
    --_animation-direction: forwards;
  }
  
  .scroller[data-speed="fast"] {
    --_animation-duration: 10s;
  }
  
  .scroller[data-speed="slow"] {
    --_animation-duration: 60s;
  }
  
  @keyframes scroll {
    from{
      transform:translateX(450px) ;
    }
    to {
      transform: translateX(-500px);
    }
  }
  
/* The infinit swiper calc(-60% - 0.1rem)*/
